body{
    margin: 0;
    font-family: "poppins", sans-serif;
}
/*hero*/
.hero{
    background-color: #F4A21E;
    min-height: 100vh; /* pegar 100% da tela */
    display:flex;
    flex-direction: column;
    align-items: center; 

    text-align: center;
    justify-content: center;
    padding: 30px;

}
.logo{
    background-image: url("src/logotudopronto.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;

}

/* container para organizar */
.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.busca {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 10px 18px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px auto;
  box-shadow: 
  0 10px 20px rgba(0, 0, 0, 0.15),
  0 6px 6px rgba(0, 0, 0, 0.10);} /*add sombra na barra de busca*/

.busca span {
  margin-left: 10px;
  margin-right: 8px;
  font-size: 16px;
}

.busca button {
  background-color: #F4A21E;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}